@model ProfileManager.Models.Employee
@inject ProfileManager.BusinessLayer.StorageService StorageService

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Employee?</h2>

<div class="row">
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-4">
        <div class="card">
            <img src="@StorageService.FullPhotoUrl(Model.Id, Model.PhotoFileName)" alt="@Model.FirstName @Model.LastName" class="card-img-top" />
            <div class="card-body text-center">
                <div class="card-title font-weight-bold">@Html.DisplayFor(modelItem => Model.FirstName) @Html.DisplayFor(modelItem => Model.LastName)</div>
                <p class="card-text font-italic">@Html.DisplayFor(modelItem => Model.Department)</p>
                <p class="card-text">ID: @Html.DisplayFor(modelItem => Model.Id)</p>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.Id">Cancel</a>  <input type="submit" value="Delete Employee" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">&nbsp;</div>    
</div>